<h1>Welcome to Auctionite</h1>
<h3>Where auctions are done in a flash</h3>
<p>
    Flash auctions are a speedy way to buy or sell things you or other people want.
    Listing an item on the site will let others start bidding on it for a chance to win.
    When someone wins, they get the item. Simple As!
</p>

<p>
    We handle the shipping and the money, you handle your items and lots. Auctionite is
    a simple and easy to use platform. If you want to sell something fast and not spend forever
    handling listings, Auctionite is the platform for you.
</p>
