<p style="color: green"><%= notice %></p>

<%= render @address %>

<div>
  <%= link_to "Edit this address", edit_address_path(@address) %> |

  <%= button_to "Destroy this address", @address, method: :delete %>
</div>
