<div id="<%= dom_id item %>">
<img src="https://picsum.photos/id/9/200" alt="tech image">

<p><strong><%= item.name %></strong> costs: <%= number_to_currency(item.starting_price, unit: '£') %></p>
<p>Listed by: <%= item.owner&.email || 'unknown' %></p>
</div>
