<div id="<%= dom_id item %>">
<figure>
    <img src="https://picsum.photos/id/9/200" alt="tech image">
</figure>
<p><strong><%= item.name %></strong> costs: <%= number_to_currency(item.starting_price, unit: '£') %></p>
<p>Listed by: <%= item.user&.email %></p>
</div>
