<div id="<%= dom_id lot %>">
    <h3>
        <%= lot.item.name %>
    </h3>
    <img src="https://picsum.photos/id/9/200" alt="tech image">
    <p>
        <%= lot.item.description %>
    </p>
    <p>
        <%= lot.notes %>
    </p>
</div>
